django
django_material
django_ckeditor
django_simple_search
django-storages
whitenoise
psycopg2-binary
gunicorn
boto3
django-htmlmin
pytz
requests
social-auth-app-django
python-social-auth
oauth2
oauth2client
