{% load material_form %}

<div id="add-cases" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Add a Case</h4>
      <form method="POST">
          {% csrf_token %}
          {{ add_case.media }}
          {{ add_case.as_p }}
          <button class="btn button" type="submit">Add<i class="material-icons right">add</i></button>
          &nbsp;
          <a class="modal-close waves-effect btn red white-text">Close<i class="material-icons right">close</i></a>
    </form>
    </div>
</div>
