<h2>Bookmarked Cases</h2>
<div class="bookmarked-cases">
    {% if bookmarked_cases %}
        {% for case in bookmarked_cases %}
            <a href="{% url 'cases:details' case.case.id %}">
            <div class="card white darken-1">
                <div class="card-content black-text">
                    <span class="card-title">
                        {{ case.case.cases_short_name }}
                        <button name="remove-from-bookmark" class="btn btn-flat js-remove-from-bookmark right" id="{{ case.case.id }}">
                            <i class="material-icons">star</i>
                        </button>
                    </span>
                    <p>{{ case.case.cases_description | safe }}</p>
                </div>
            </div>
            </a>
        {% endfor %}
    {% else %}
    Nothing bookmarked yet.
    {% endif %}
</div>
