<div class="comment col s12 m12">
  <div class="card white darken-1">
    <div class="card-content">
      <span class="card-title"><i class="tiny material-icons">date_range</i> {{ comment.user }} <small>commented {{ comment.created_date | timesince }} ago</small></span>
      <p>{{ comment.content | safe }}</p>
    </div>
    <div class="card-action">
        <button data-target="edit-modal" class="btn modal-trigger js-update-comment" type="button" data-url="{% url 'cases:edit_comment' comment.id %}">Edit</button>
        <button class="btn waves-effect" name="delete-comment">
        Delete Comment
        <i class="material-icons right">delete</i>
    </button>
    </div>
  </div>
</div>
