{% extends "cases/base.html" %}
{% load static %}
{% block title %} Recent Cases | {% endblock %}

{% block content %}
<div class="row">
    <div class="recent-cases">
        <div class="col s12 m6">
        <h2>Recent Cases</h2>
            {% if latest_cases_list %}
                {% for case in latest_cases_list %}
                    <a href="{% url 'cases:details' case.id %}">
                        <div class="card white darken-1">
                            <div class="card-content black-text">
                                <div class="card-title">
                                    {{ case.cases_short_name }}
                                    <button name="add-to-bookmark" class="btn btn-flat right js-add-to-bookmark" id="{{ case.id }}">
                                        <i class="material-icons">star_border</i>
                                    </button>
                                </div>
                                <p>{{ case.cases_description | safe }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="no-active-cases"></div>
                <p>No active cases.</p>
            {% endif %}
        </div>
    </div>
    <div class="col s12 m6">
        <div class="search-box">
            <h2>Search</h2>
            <form id="form" action="{% url 'cases:search_results' %}">
                <div class="input-field">
                <i class="material-icons prefix">search</i>
                    <input type="search" id="query" name="q" placeholder="Search for Cases...">
                </div>
            </form>
        </div>
        <div id="bookmarked-cases">
            {% include "cases/bookmarked_cases.html" %}
        </div>
    </div>
{#    Only hospital can create cases#}
    {% if group == 2 %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red z-depth-2 modal-trigger" href="#">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a href="#import" class="btn-floating red tooltipped modal-trigger" data-position="left" data-tooltip="Import from DrChrono">
                    <i class="material-icons">input</i>
                </a>
            </li>
            <li>
                <a class="btn-floating red modal-trigger tooltipped modal-trigger" data-position="left" data-tooltip="Manually Add" href="#add-cases">
                    <i class="large material-icons">create</i>
                </a>
            </li>
        </ul>
    </div>
{% include 'cases/add_case.html' %}
{% include 'cases/drchrono-import-modal.html' %}
{% endif %}
</div>
{% endblock %}
{% block extra_javascript %}
    <script type="application/javascript" src="{% static 'cases/csrfready.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
        {#for modal#}
        $(document).ready(function(){
            $('.modal').modal({
                dismissible: false
            });
        });
    </script>
    <script>
    // bookmark case
    $(function () {
        let bookmarkCase = function () {
            let caseId = this.id;
            $.ajax({
                    url: `/bookmark-case/${caseId}/`,
                    type: 'post',
                    success: function (data) {
                        if (data.form_is_valid) {
                            M.toast({html: 'Bookmarked!'});
                            $("#bookmarked-cases").html(data['bookmarked_cases_html']);
                        } else {
                            M.toast({html: 'Unable to bookmark.'});
                        }
                    },
                    failure: function (data) {
                        M.toast({html: 'Unable to bookmark.'});
                    },
                }
            );
            return false;
        };
        let unbookmarkCase = function () {
            let caseId = this.id;
            $.ajax({
                    url: `/bookmark-case/${caseId}/`,
                    type: 'post',
                    data: {'remove': true},
                    success: function (data) {
                        if (data.form_is_valid) {
                            M.toast({html: 'Removed bookmark!'});
                            $("#bookmarked-cases").html(data['bookmarked_cases_html']);
                        } else {
                            M.toast({html: 'Unable to remove.'});
                        }
                    },
                    failure: function (data) {
                        M.toast({html: 'Unable to remove.'});
                    },
                }
            );
            return false;
        }

        $(".recent-cases").on("click", ".js-add-to-bookmark", bookmarkCase);
        $("#bookmarked-cases").on("click", ".js-remove-from-bookmark", unbookmarkCase);
    });
    </script>
    <script>
    $(document).ready(function(){
        $('.tooltipped').tooltip();
    });
    </script>
    <script>
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
      });
    </script>
{% endblock %}
