{% extends 'cases/base.html' %}
{% load material_form %}
{% block title %} Change Password | {% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-panel">
            <div id="change-password" class="container">
                <h2>Change Password</h2>
                <form method="post">
                  {% csrf_token %}
                  {% form %} {% endform %}
                  <button class="btn waves-effect waves-light" type="submit">Change Password
                    <i class="material-icons right">send</i>
                  </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
