{% extends "cases/base.html" %}
{% load material_form %}
{% block title %} Log In | {% endblock %}
{% block content %}
    <div class="container">
        <div class="card card-panel">
            <div id="login" class="container">
                <h2>Log In</h2>
                  <form method="post">
                    {% csrf_token %}
                    {% form %} {% endform %}
                    <button class="btn waves-effect waves-light" type="submit">Log In
                    <i class="material-icons right">send</i>
                    </button>
                  </form>
                <a href="{% url 'social:begin' 'drchrono' %}"><button class="btn light-green">Log In with DrChrono</button></a>
                <a href="{% url 'social:begin' 'onpatient' %}"><button class="btn pink">Log In with OnPatient</button></a>
            </div>
        </div>
    </div>
{% endblock %}
